{% extends 'base/base.html' %}
{% load app_extras %}

{% block title %}
    Faturar | Lançamento
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Faturar - Lançamento</h2>
            </div>
            <div class="panel-body">
                <form method="post" id="cadastroAgenciaForm" role="form">{% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Cliente/Conta: </label>
                            {{ lancamento.conta_cliente }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Descrição: </label>
                            {{ lancamento.descricao }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Data do Lançamento</label>
                            {{ lancamento.data_lancamento }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Data do Vencimento</label>
                            {{ lancamento.data_vencimento }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Valor</label>
                            {{ lancamento.valor }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <label>Tipo de Lançamento</label>
                            {{ lancamento.tipo_lancamento }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Observação</label>
                            {{ lancamento.observacao }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Status do Lançamento</label>
                            {{ lancamento.status_lancamento }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label>Data de Pagamento</label>
                            <input type="text" class="form-control" name="data_pagamento" id="id_data_pagamento"/>
                        </div>
                    </div>

                    <nav class="nav-fill">
                        <div class="form-group">
                            <button id="btn-save" class="btn btn-success" type="submit">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                Gravar
                            </button>
                            <a class="btn btn-primary" href="{% url 'controle_fin:listar_lancamento' %}">
                                <span class="glyphicon glyphicon-arrow-left"></span>
                                Voltar
                            </a>
                        </div>
                    </nav>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

